.navigation-bar-container {
  position: relative;
  width: 100%;
  background-color: rgb(83, 174, 110);
  box-sizing: border-box;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-icon,
    .title-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
    .left-icon {
      padding: 1rem;
    }
    .title-container {
      font-size: 16px;
    }
  }
}
